    
    <footer class="font-small">

    <div class="footer-copyright text-center custom-purple pt-5 pb-3">
      <a href="https://developer.spotify.com/documentation/web-api/reference/" target="_blank">Spotify API</a> -
      Want to help? Consider becoming a Patron on <a href="https://www.patreon.com/analyse_audio" target="_blank">Patreon.com</a>
    </div>

    </footer>
    <!-- Footer -->

    <!-- JQuery -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    ></script>
    <!-- Bootstrap tooltips -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
    ></script>
    <!-- Bootstrap core JavaScript -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"
    ></script>
    <!-- MDB core JavaScript -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/js/mdb.min.js"
    ></script>
    </body>
</html>