<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description"
        content="Control Spotify's song recommendation. Find new songs which have a very similar feel to others that you love by setting target and maximum audio features values before getting recommendations.">
    <meta name="keywords"
        content="Spotify, songs, music, recommendations, Spotify API, song analysis, find new songs, better spotify recommendations">
    <meta name="author" content="Jay">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Analyse-Aud.io</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" async />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/css/mdb.css">
    <link rel="stylesheet" href="/../css/style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-181049447-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-181049447-1');
    </script>
</head>
<body>