<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spotify App</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/css/mdb.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <div class="container-fluid index-container">
    <div class="row">
      <div class="col">
        <a href="https://github.com/jayParent/spotify_app" target="_blank"><i class="fab fa-github text-dark mt-3 ml-1"
            style="font-size: 2rem;" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="row justify-content-center" id="index_background">
      <div class="col-xl-4" id="index_header">
        <div class="text-center">
          <p><a href="/login" class="btn btn-outline-elegant font-weight-bold">Begin</a></p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>