<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spotify App</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/css/mdb.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <div class="container-fluid index-container">
    <div class="row">
      <div class="col">
        <a href="https://github.com/jayParent/track_finder" target="_blank"><i class="fab fa-github text-dark mt-3 ml-1" style="font-size: 2rem;" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="row justify-content-center" id="index_background">
      <div class="col-xl-4 animated fadeInDown" id="index_header">
        <div class="text-center text-white">
          <p><a href="/login" class="btn btn-outline-white font-weight-bold">Begin</a></p>
        </div>    
      </div>
    </div>
    <div class="row" id="index_chart-container">
      <div class="col" style="padding: 0;">
        <canvas id="index_linechart"></canvas>
        <%- include("partials/footer") %>
      </div>
    </div>
  </div>
</body>
<script>
//line
  var ctxL = document.getElementById("index_linechart").getContext('2d');
  var myLineChart = new Chart(ctxL, {
    type: 'line',
    data: {
      labels: ["", "", "", "", "", "", ""],
      datasets: [{
        data: [65, 59, 80, 81, 56, 55, 40],
        backgroundColor: [
          'rgba(0, 102, 26, .3)',
        ],
        borderColor: [
          'rgba(0, 102, 26, .4)',
        ],
        borderWidth: 2
      },
      {
        data: [28, 48, 40, 19, 86, 27, 90],
        backgroundColor: [
          'rgba(81,45,168,0.3)',
        ],
        borderColor: [
          'rgba(81,45,168,0.4)',
        ],
        borderWidth: 2
      }
      ]
    },
    options: {
      responsive: false,
      maintainAspectRatio: true,
      legend: false,
      scales: {
        xAxes: [{
          gridLines: {
            color: 'rgb(55, 63, 63)'
          }
        }],
        yAxes: [{
          gridLines: {
            color: 'rgb(55, 63, 63)'
          },
          ticks: {
            display: false
          }
        }]
      },
      animation: {
        duration: 2000,
        easing: "linear"
      },
      tooltips: {
        enabled: false
      }
    }
  });
</script>
</html>