<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spotify App</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/css/mdb.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/../css/style.css">
</head>

<body>
  <div class="container-fluid h-100">
    <div class="row">
      <div class="col">
        <a href="https://github.com/jayParent/track_finder" target="_blank" id="gh_logo"><i class="fab fa-github mt-3 ml-1" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="row h-100 align-items-center text-center">
      <div class="col animated fadeInDown" id="index_header">
          <a href="/login" class="btn btn-custom-primary font-weight-bold">Login</a>
      </div>
    </div>
  </div>
</body>
</html>