<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Track Finder</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/css/mdb.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row" style="height: 10vh;">
      <div class="col">
        <a href="https://github.com/jayParent/track_finder" target="_blank"><i class="fab fa-github text-dark mt-3 ml-1"
            style="font-size: 2rem;" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 col-xl-6 mx-auto">
        <div class="container-fluid" id="main_window">
          <div class="row">
            <div class="col-6 mx-auto text-center">
              <h1>INDEX</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-6 mx-auto text-center">
            </div>
          </div>
          <div class="row h-50">
            <div class="col"> 
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <a href="/login" class="btn btn-outline-elegant font-weight-bold">Begin</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">

    </div>
  </div>
  </div>
</body>
</html>