<%- include ("partials/header") %>
  <div class="container-fluid h-100">
    <div class="row">
      <div class="col">
        <a href="https://github.com/jayParent/track_finder" target="_blank"><i class="fab fa-github mt-3 ml-1"
          aria-hidden="true" id="gh_logo"></i></a>
      </div>
    </div>
    <div class="row h-25 justify-content-center align-items-end text-center mt-5" id="index_header_row">
      <div class="col-lg-6 animated fadeInDown">
        <h1 class="display-5 text-white mt-4">Spotify Track Finder</h1>
        <p class="lead text-white">Analyze your favorite Tracks, get Recommendations based on the Audio Features you choose</p>
        <a href="/login" class="btn btn-secondary">Get Started</a>
      </div>
    </div>
    <div class="row justify-content-center align-items-center h-75">
      <div class="col-lg-6 animated fadeInUp mt-3">
        <div class="container">
          <div class="row">
            <div class="col">
              <img class="img-fluid" src="/imgs/landing_page_demo.png" alt="Image of App Demo">
            </div>
          </div>
          <div class="row text-center text-white">
            <div class="col">
              <p class="lead">More Info</p>
              <a href="#more_info_container" class="display-4"><i class="fas fa-arrow-down text-secondary"></i></a>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
  <div class="container-fluid text-white" id="more_info_container">
    <div class="row">
      <div class="col-lg-3 d-flex align-items-stretch mx-auto mt-5">
        <div class="card custom-light-card align-items-center">
          <img class="card-img-top" src="/imgs/list_img.png" alt="">
          <div class="card-body">
            <h4 class="card-title">How does it work?</h4>
            <ul>
              <li>Pick up to 5 Tracks from your All-Time or Recent Favorites</li>
              <li>Receive an Analysis of those Tracks</li>
              <li>Adjust Spotify's Recommendation algorithm, based on what you think influences your taste the most</li>
              <li>Get Recommendations based on the above</li>
              <li>Optionally create a Spotify playlist with the results</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 d-flex align-items-stretch mx-auto mt-5">
        <div class="card custom-light-card">
          <img class="card-img-top" src="/imgs/target_img.png" alt="">
          <div class="card-body">
            <h4 class="card-title">What is the goal?</h4>
              <p>Finding new favorite songs that sound very similar to particular songs that you love.</p>
              <p>Most recommendation algorithms base their results on genres, artists or listening habits of other users. The result is
                often playlists containing songs with drastically different "feel" to those that you love the most.
              </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 d-flex align-items-stretch mx-auto mt-5">
        <div class="card custom-light-card">
          <img class="card-img-top" src="/imgs/lock_img.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Is it safe?</h4>
              <p>The authentification is handled by Spotify, through their public API. We only ask the minimum permissions the app needs to function.
                These will be displayed when you log in. Your email adress remains private.
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center text-white my-3">
        <a href="#top" class="display-4"><i class="fas fa-arrow-up text-secondary"></i></a>
        <p class="lead">Get Started</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%- include ("partials/footer") %>
      </div>
    </div>
  </div>
