/* Global */
body{
    background: rgb(55, 63, 63);
}

.custom-green{
    color: rgb(46, 184, 46);
}
.custom-yellow{
    color: rgb(251, 245, 19);
}
.custom-red{
    color: rgb(255, 51, 51);
}

/* Index */
.index-container{
    max-height: 100vh;
    overflow: hidden;
}

#index_header{
    padding-top: 35vh;
    position: absolute;
    z-index: 1;
}

#index_linechart{
    height: 110vh;
    margin-left: -10px;
}

/* Main */
#main_window{
    height: 90vh;
}

#gh_logo{
    font-size: 2rem;
}

.scrollableBody#top_tracks_table thead,
tbody#top_tracks_table_body tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}

.scrollableBody#recent_tracks_table thead,
tbody#recent_tracks_table_body tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}

#top_tracks_table_body, #recent_tracks_table_body{
    display: block;
    overflow-y: scroll;
    max-height: 60vh;
}

.trackTitle{
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    #gh_logo{
        display: none;
    }
    #main_window{
        height: 100vh;
    }
  }