/* Global */
html, body{
    background-color: #292929;
    height: 100%;
}

#gh_logo{
    font-size: 2rem;
    position: absolute;
    color: white;
}

.custom-green{
    color: rgb(46, 184, 46);
}
.custom-yellow{
    color: rgb(251, 245, 19);
}
.custom-red{
    color: rgb(255, 51, 51);
}
.custom-purple{
    color: #BB86FC;
}
.custom-deep-purple{
    color: #3700B3;
}

.btn-custom-primary{
    background-color: #BB86FC;
    color: #000000;
}

.btn-custom-primary-variant{
    background-color: #3700B3;
    color: #ffffff;
}
  
.btn-custom-secondary{
    background-color: #03DAC5;
    color: #000000;
}

.tooltip-custom{
  cursor: help;
}

/* Index */
#more_info_container{
    background-color: rgba(255, 255, 255, 0.6);
}

#more_info_arrow:hover{
    color: #985EFF;
}

#index_header_row{
    position: relative;
    z-index: 2;
}
/* Main */
.scrollableBody#top_tracks_table thead,
tbody#top_tracks_table_body tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}

.scrollableBody#recent_tracks_table thead,
tbody#recent_tracks_table_body tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}

#top_tracks_table_body, #recent_tracks_table_body{
    display: block;
    overflow-y: scroll;
    max-height: 50vh;
}

.trackTitle{
    cursor: pointer;
}

#next_btn_main{
    display: none;
}

#instructions_list{
    list-style: inside decimal;
    padding: 0;
}

/* Recommendations */
#liked_song_alert{
  position: fixed;
  z-index: 1;
}

@media screen and (max-width: 600px) {
    /* #gh_logo{
        display: none;
    } */
  }